<div class="header">
  <ul class="navbar">
    <li>Welcome</li>
    <li>Portafolio</li>
    <li>BLog</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</div>    
<div class="main">
  <div class="jumbotron">
    <h2>Hello, my name is
    <span class="highlight">Juan Carlos</span> 
    and I have creative ideas and build websites
    </h2>
  </h2>
  </div>

</div>

  
    